In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#from sklearn.metrics import 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df=pd.read_csv('cereal.csv')

In [3]:
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [5]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [6]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [7]:
df.shape

(77, 16)

In [8]:
df['name'].nunique()

77

In [9]:
df['name'].drop_duplicates().shape

(77,)

In [10]:
df['mfr'].value_counts()

K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: mfr, dtype: int64

In [11]:
df['type'].value_counts()

C    74
H     3
Name: type, dtype: int64

In [12]:
df['shelf'].value_counts()

3    36
2    21
1    20
Name: shelf, dtype: int64

In [13]:
df['weight'].value_counts()

1.00    64
1.33     5
0.50     2
1.50     2
1.25     2
1.30     1
0.83     1
Name: weight, dtype: int64

In [14]:
df['protein'].value_counts()

3    28
2    25
1    13
4     8
6     2
5     1
Name: protein, dtype: int64

In [15]:
df['fat'].value_counts()

1    30
0    27
2    14
3     5
5     1
Name: fat, dtype: int64

In [16]:
df['cups'].value_counts()

1.00    30
0.75    16
0.67    13
0.50     7
0.33     3
0.88     2
0.80     1
1.13     1
1.33     1
1.50     1
0.25     1
1.25     1
Name: cups, dtype: int64

In [17]:
df['vitamins'].value_counts()

25     63
0       8
100     6
Name: vitamins, dtype: int64

In [18]:
df['calories'].value_counts()

110    29
100    17
120    10
90      7
50      3
140     3
70      2
150     2
130     2
80      1
160     1
Name: calories, dtype: int64

In [19]:
df['sodium'].value_counts()

0      9
200    8
140    7
220    5
170    5
180    5
210    4
150    3
290    3
190    3
125    2
280    2
250    2
260    2
135    2
240    2
15     2
230    2
130    1
75     1
70     1
95     1
90     1
45     1
80     1
320    1
160    1
Name: sodium, dtype: int64

In [20]:
df['sugars'].value_counts()

 3     13
 0      7
 12     7
 6      7
 10     5
 5      5
 8      5
 11     5
 9      4
 7      4
 13     4
 14     3
 2      3
 15     2
 4      1
 1      1
-1      1
Name: sugars, dtype: int64

In [21]:
df['fiber'].value_counts()

0.0     19
1.0     16
3.0     15
2.0     10
5.0      4
4.0      4
1.5      3
2.7      1
2.5      1
6.0      1
14.0     1
9.0      1
10.0     1
Name: fiber, dtype: int64

In [22]:
df['carbo'].value_counts()

 13.0    8
 15.0    8
 14.0    7
 16.0    7
 21.0    7
 12.0    7
 17.0    6
 11.0    5
 18.0    3
 20.0    3
 8.0     2
 10.5    2
 10.0    2
 22.0    2
 7.0     1
 9.0     1
 19.0    1
 11.5    1
 13.5    1
-1.0     1
 23.0    1
 5.0     1
Name: carbo, dtype: int64

In [23]:
df['potass'].value_counts()

 110    5
 90     5
 35     5
 25     4
 30     4
 95     4
 40     4
 45     4
 60     3
 100    3
 55     3
 120    3
 190    2
 140    2
 160    2
 170    2
-1      2
 105    2
 240    1
 130    1
 260    1
 135    1
 115    1
 15     1
 20     1
 280    1
 320    1
 65     1
 230    1
 85     1
 80     1
 330    1
 200    1
 50     1
 70     1
 125    1
Name: potass, dtype: int64

In [24]:
# Data preprocessing
from sklearn.preprocessing import LabelEncoder

mfr = ['N', 'Q', 'K', 'R', 'G', 'P', 'A']
le = LabelEncoder()
le = le.fit(mfr)
df['mfr'] = le.fit_transform(df['mfr'].astype(str))
#df.head(3)

type_ = ['C', 'H']
le = le.fit(type_)
df['type'] = le.fit_transform(df['type'].astype(str))

df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,3,0,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,5,0,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,2,0,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,2,0,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,6,0,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,1,0,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,2,0,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,1,0,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,6,0,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,4,0,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [25]:
x = df.drop('name', axis = 1)
x1= x.drop('rating', axis=1)
y = df['rating']
x1.head(5), y.head(5)

(   mfr  type  calories  protein  fat  sodium  fiber  carbo  sugars  potass  \
 0    3     0        70        4    1     130   10.0    5.0       6     280
 1    5     0       120        3    5      15    2.0    8.0       8     135
 2    2     0        70        4    1     260    9.0    7.0       5     320
 3    2     0        50        4    0     140   14.0    8.0       0     330
 4    6     0       110        2    2     200    1.0   14.0       8      -1

    vitamins  shelf  weight  cups
 0        25      3     1.0  0.33
 1         0      3     1.0  1.00
 2        25      3     1.0  0.33
 3        25      3     1.0  0.50
 4        25      3     1.0  0.75  ,
 0    68.402973
 1    33.983679
 2    59.425505
 3    93.704912
 4    34.384843
 Name: rating, dtype: float64)

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range = (0,1))
X = scaler.fit_transform(x1)
X = pd.DataFrame(X,columns = x1.columns)
print(X.head(5))

        mfr  type  calories  protein  fat    sodium     fiber     carbo  \
0  0.500000   0.0  0.181818      0.6  0.2  0.406250  0.714286  0.250000
1  0.833333   0.0  0.636364      0.4  1.0  0.046875  0.142857  0.375000
2  0.333333   0.0  0.181818      0.6  0.2  0.812500  0.642857  0.333333
3  0.333333   0.0  0.000000      0.6  0.0  0.437500  1.000000  0.375000
4  1.000000   0.0  0.545455      0.2  0.4  0.625000  0.071429  0.625000

   sugars    potass  vitamins  shelf  weight   cups
0  0.4375  0.848943      0.25    1.0     0.5  0.064
1  0.5625  0.410876      0.00    1.0     0.5  0.600
2  0.3750  0.969789      0.25    1.0     0.5  0.064
3  0.0625  1.000000      0.25    1.0     0.5  0.200
4  0.5625  0.000000      0.25    1.0     0.5  0.400

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(53, 14)
(24, 14)
(53,)
(24,)

In [28]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso

LR_model = LinearRegression()
L2_model = Ridge(alpha = 0.05)
L1_model = Lasso(alpha = 0.001)

LR_model.fit(x_train, y_train)
L2_model.fit(x_train, y_train)
L1_model.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [29]:
LR_model_y_pred = LR_model.predict(x_test)
L2_model_y_pred = LR_model.predict(x_test)
L1_model_y_pred = LR_model.predict(x_test)

In [30]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

print("r2 score, mean absolute error and mean squared error for linear regression model is : ", r2_score(y_test,LR_model_y_pred), ',' ,mean_absolute_error(y_test,LR_model_y_pred), 'and', mean_absolute_error(y_test,LR_model_y_pred))


print("r2 score, mean absolute error and mean squared error for ridge regression model is : ", r2_score(y_test,L2_model_y_pred), ',' ,mean_absolute_error(y_test,L2_model_y_pred ), 'and', mean_absolute_error(y_test,L2_model_y_pred))

print("r2 score, mean absolute error and mean squared error for lasso regression model is : ", r2_score(y_test,L1_model_y_pred), ',' ,mean_absolute_error(y_test,L1_model_y_pred ), 'and', mean_absolute_error(y_test,L1_model_y_pred))

r2 score, mean absolute error and mean squared error for linear regression model is :  0.9999999999999993 , 2.779769456099738e-07 and 2.779769456099738e-07
r2 score, mean absolute error and mean squared error for ridge regression model is :  0.9999999999999993 , 2.779769456099738e-07 and 2.779769456099738e-07
r2 score, mean absolute error and mean squared error for lasso regression model is :  0.9999999999999993 , 2.779769456099738e-07 and 2.779769456099738e-07

In [31]:
# By Polynomial regression
poly_reg = PolynomialFeatures(degree = 2)
X_poly = poly_reg.fit_transform(x_train)
regressor = LinearRegression()
regressor.fit(X_poly, y_train)
y_pred = regressor.predict(poly_reg.transform(x_test))
mean_absolute_error= mean_absolute_error(y_test, y_pred)
mean_absolute_error

1.42682687147855

In [32]:
mean_squared_error= mean_squared_error(y_test, y_pred)
mean_squared_error

2.9960214128583798

In [33]:
r2_score= r2_score(y_test, y_pred)
r2_score

0.9838385231762111

In [34]:
df.to_pickle('80_Cereals.pkl')

In [35]:
pkl=pd.read_pickle('80_Cereals.pkl')

In [36]:
pkl.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,3,0,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,5,0,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,2,0,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,2,0,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,6,0,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843